<div class="form-container">
    <form [formGroup]="signUpFormComponent">

        <div class="form-group pt-3">
            <div class="input-field" [class.error]="signUpFormComponent.controls['firstName'].dirty && signUpFormComponent.hasError('required','firstName')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="firstName" type="text" placeholder="FirstName">
            </div>
        </div>
        <small  *ngIf="signUpFormComponent.controls['firstName'].dirty && signUpFormComponent.hasError('required','firstName')" class="text-danger">*FirstName is required</small>
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="signUpFormComponent.controls['lastName'].dirty && signUpFormComponent.hasError('required','lastName')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="lastName" type="text" placeholder="LastName">
            </div>
        </div>
        <small *ngIf="signUpFormComponent.controls['lastName'].dirty && signUpFormComponent.hasError('required','lastName')" class="text-danger">*LastName is required</small>
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="signUpFormComponent.controls['dni'].dirty && signUpFormComponent.hasError('required','dni')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="dni" type="text" placeholder="Dni">
            </div>
        </div>
        <small  *ngIf="signUpFormComponent.controls['dni'].dirty && signUpFormComponent.hasError('required','dni')" class="text-danger">*Dni is required</small>
        
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="signUpFormComponent.controls['direccion'].dirty && signUpFormComponent.hasError('required','direccion')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="direccion" type="text" placeholder="Direccion">
            </div>
        </div>
        <small *ngIf="signUpFormComponent.controls['direccion'].dirty && signUpFormComponent.hasError('required','direccion')" class="text-danger">*Adress empty</small>

        
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="signUpFormComponent.controls['email'].dirty && signUpFormComponent.hasError('required','email')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="email"  type="text" placeholder="Email">
            </div>
        </div>                        
        <small *ngIf="signUpFormComponent.controls['email'].dirty && signUpFormComponent.hasError('required','email')" class="text-danger">*Email is required </small>

        <div class="form-group pt-3" *ngIf="roleMostrar === 'Admin'">           
            <select class="input-combo" formControlName="role" (change)="onRoleSelected()">
                <option disabled value="" selected>Seleccione su rol</option>
                <option value="Inversionista">Inversionista</option>
                <option value="Jefe Prestamista">Jefe Prestamista</option>
                <option value="Prestamista">Prestamista</option>
                <option value="Prestatario">Prestatario</option>
            </select> 
        </div>
        <small *ngIf="signUpFormComponent.controls['role'].dirty && signUpFormComponent.hasError('required', 'role')" class="text-danger">*Role is required</small>

        <div class="form-group pt-3">           
            <select class="input-combo" [class.error]="signUpFormComponent.controls['idSede'].dirty && signUpFormComponent.hasError('required','idSede')" formControlName="idSede" id="idSede">
                <option disabled value="" selected>Seleccione su Sede</option>
                <option *ngFor="let sede of sedes" [value]="sede.idSede">{{ sede.descripcionSede }}</option>
            </select> 
        </div>
        <small *ngIf="signUpFormComponent.controls['idSede'].dirty && signUpFormComponent.hasError('required','idSede')" class="text-danger">*Sede is required</small>
        
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="signUpFormComponent.controls['userName'].dirty && signUpFormComponent.hasError('required','userName')">
                <span class="fa fa-user p-2"></span>
                <input formControlName="userName" type="text" placeholder="Username">
            </div>
        </div>  
        <small *ngIf="signUpFormComponent.controls['userName'].dirty && signUpFormComponent.hasError('required','userName')" class="text-danger">*Username is required</small> 
                                
        <div class="form-group pt-3">
            <div class="input-field" [class.error]="signUpFormComponent.controls['password'].dirty && signUpFormComponent.hasError('required','password')">
                <span class="fa fa-lock p-2"></span>
                <input formControlName="password" [type]="type" placeholder="Password">
                <span (click)="hideShowPass()"  class="fa {{eyeIcon}}"></span>
            </div>
        </div> 
        <small *ngIf="signUpFormComponent.controls['password'].dirty && signUpFormComponent.hasError('required','password')" class="text-danger">*Password is required >7 characters, capital letters and special characters *.$,#</small>                      
        <button type="submit" class="btn btn-dark btn-block mt-4 w-100" (click)="onSingup()">Registrar</button>
    </form>   
    
</div>
