<div class="d-flex" id="wrapper">

    <ng-container *ngIf="role === 'Admin' "></ng-container>
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Menú Principal</div>
        <div class="list-group list-group-flush">
            <a href="#" routerLink="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Usuarios</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Jefe Prestamista</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Prestamista</a>
            <a href="#" routerLink="/prestatario" class="list-group-item list-group-item-action bg-light">Prestatario</a>
            <a href="#" (click)="Logout()" class="list-group-item list-group-item-action bg-light">Salir</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

   <!-- Page Content -->
   <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0);">Hola, {{fullName}}</a>
            <!-- Aquí puedes añadir un botón para colapsar la sidebar si lo necesitas -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Aquí puedes añadir tu menú de navegación si tienes más elementos -->
        </div>
    </nav>
       <!-- El resto de tu contenido... -->
        <div class="container mt-4">
            <h4>Dashboard</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Usuario</th>
                            <th>Email</th>
                            <th>Acciones</th> <!-- Columna de acciones -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.email}}</td>
                            
                            <td>
                                <!-- Botones de acción para cada fila 
                                (click)="editUser(user)"
                                (click)="deleteUser(user)"
                                -->
                                <button type="button" class="btn btn-primary btn-sm" (click)="editUser(user)">Editar</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
