
<div class="navbar">
    <div class="navbar-title">Detalle del Préstamo</div>
  </div>
<div class="table-container">
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Duración</th>
        <th>S/150</th>
        <th>S/200</th>
        <th>S/300</th>
        <th>S/400</th>
        <th>S/500</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data; let i = index">
          <td>{{row.duration}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 1}" (click)="onCellClick(i, 1, row.duration, row.value150)">{{row.value150}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 2}" (click)="onCellClick(i, 2, row.duration, row.value200)">{{row.value200}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 3}" (click)="onCellClick(i, 3, row.duration, row.value300)">{{row.value300}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 4}" (click)="onCellClick(i, 4, row.duration, row.value400)">{{row.value400}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 5}" (click)="onCellClick(i, 5, row.duration, row.value500)">{{row.value500}}</td>
        </tr>
      </tbody>
  </table>
</div>
<div class="registration-form">
    <form>
      <div class="form-group">
        <label for="monto">Monto</label>
        <input type="text" class="form-control" id="monto" name="monto" [(ngModel)]="selectedValue" readonly>
      </div>
      <!-- <div class="form-group">
        <label for="fechaInicio">Fecha Inicio</label>
        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="startDate">
      </div> -->
      <div class="form-group">
        <label for="fechaInicio">Fecha Inicio</label>
        <!-- <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
               [(ngModel)]="startDate" (change)="onStartDateChange()" [min]="minDate"> -->
        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
       [(ngModel)]="startDate" (change)="onStartDateChange()" [min]="minDate">
      </div>
      <div class="form-group">
        <label for="fechaFin">Fecha Fin</label>
        <input type="date" class="form-control" id="fechaFin" name="fechaFin"
       [(ngModel)]="endDate" (change)="onStartDateChange()" readonly>
      </div>
      <div class="form-group">
        <label for="dias">Días</label>
        <input type="text" class="form-control" id="dias" name="dias" [(ngModel)]="selectedDuration" readonly>
      </div>
      <div class="form-group">
        <label for="pagoDiario">Pago Diario</label>
        <input type="text" class="form-control" id="pagoDiario" name="pagoDiario" [(ngModel)]="dailyPayment" readonly>
      </div>
      <button type="submit"  class="btn btn-primary" (click)="onRegistrar()">Registrar</button>
    </form>
  </div>