
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0);">   Hola, {{fullName}},  Bienvenido a tu  Solicitud de Prestamo </a>
        <!-- Aquí puedes añadir un botón para colapsar la sidebar si lo necesitas -->
        
        <!-- Aquí puedes añadir tu menú de navegación si tienes más elementos -->
    </div>
  </nav>
  <div class="table-container">

     
    <!-- Barra de diseño ajustada para comenzar desde "S/150" -->
    <div style="height: 30px; background-color: #66035C; color: white; text-align: center;line-height: 30px;">
      Monto
    </div>
  

  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Duración</th>
          <th>S/150</th>
          <th>S/200</th>
          <th>S/300</th>
          <th>S/400</th>
          <th>S/500</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data; let i = index">
          <td>{{row.duracionDias}}</td> <!-- Cambiado para coincidir con el dato correcto -->
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 1}" (click)="onCellClick(i, 1, row.duracionDias, row.precio150)">{{row.precio150}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 2}" (click)="onCellClick(i, 2, row.duracionDias, row.precio200)">{{row.precio200}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 3}" (click)="onCellClick(i, 3, row.duracionDias, row.precio300)">{{row.precio300}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 4}" (click)="onCellClick(i, 4, row.duracionDias, row.precio400)">{{row.precio400}}</td>
          <td [ngClass]="{'selected-cell': selectedCell.row === i && selectedCell.column === 5}" (click)="onCellClick(i, 5, row.duracionDias, row.precio500)">{{row.precio500}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="registration-form">
      <form>
        <div class="form-group">
          <label for="monto">Monto</label>
          <input type="text" class="form-control" id="monto" name="monto" [(ngModel)]="selectedValue" readonly>
        </div>
        <!-- <div class="form-group">
          <label for="fechaInicio">Fecha Inicio</label>
          <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="startDate">
        </div> -->
        <div class="form-group">
          <label for="fechaInicio">Fecha Inicio</label>
          <!-- <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
                 [(ngModel)]="startDate" (change)="onStartDateChange()" [min]="minDate"> -->
          <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
         [(ngModel)]="startDate" (change)="onStartDateChange()" [min]="minDate">
        </div>
        <div class="form-group">
          <label for="fechaFin">Fecha Fin</label>
          <input type="date" class="form-control" id="fechaFin" name="fechaFin"
         [(ngModel)]="endDate" (change)="onStartDateChange()" readonly>
        </div>
        <div class="form-group">
          <label for="dias">Días</label>
          <input type="text" class="form-control" id="dias" name="dias" [(ngModel)]="selectedDuration" readonly>
        </div>
        <div class="form-group">
          <label for="pagoDiario">Pago Diario</label>
          <input type="text" class="form-control" id="pagoDiario" name="pagoDiario" [(ngModel)]="dailyPayment" readonly>
        </div>
        <button *ngIf="role === 'Prestatario' || role === 'Admin'" type="submit"  class="btn btn-dark btn-block mt-4 w-100" style="background-color: #66035C; color: white;" (click)="onRegistrar()">Registrar Solicitud</button>
      </form>
    </div>