/*titulo left cotainet*/
#name{
    color: white;
}
#left-container{
    background-color: black;
    text-align: center;
    height: 150vh;
    float: left;
}
#right-container{
    background-color: white;
    height: 130vh;
    float: right;
}
/*titulo left cotainet*/
/*Buttons*/
.button{
    margin: 20px 30px 20px 30px;
    width: 200px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: 500;
}
#profile{
    width:130px;
    margin: 20px;
}
#user-profile{
    margin: 20px;
}
