<div id="left-container" class="col-lg-3">
    <div id="user-profile">
        <img id="profile" src="assets/img/profile.png" alt="Profile">
        <h5 id="name">Hola, {{fullName}} - {{role}} - {{creatorUser}} </h5>
    </div>
    <button class="button" [routerLink]="['/dashboard']">Menu Principal</button> 
    <button class="button" [routerLink]="['/user/dashboard-rigth']">Usuarios</button> 
    <button class="button" [routerLink]="['/user/sign-up-form']">Nuevo Usuario</button>
    <button type="submit" class="button" (click)="Logout()">Salir</button>
    <div *ngIf="mostrarDiv">oculto {{creatorUser}} </div>
</div>
<div id="right-container" class="col-lg-9">
    <router-outlet></router-outlet>  
</div>

