<div id="main-container">
    <form>
        <div class="field-container">
          <label id="label1" for="importe">Importe:</label>
          <input type="number" [(ngModel)]="importe" id="importe" name="importe">
        </div>
        <div class="field-container">
          <label id="label2" for="sede">Sede:</label>
          <input type="text" [(ngModel)]="sede" id="sede" name="sede">
        </div>
        <div class="field-container">
          <label id="label3" for="moneda">Moneda:</label>
          <select id="moneda" [(ngModel)]="moneda" name="moneda">
            <option value="Soles">Soles</option>
            <option value="Dolares">Dólares</option>
          </select>
        </div>
        <div class="field-container">
          <label id="label4" for="cuotas">Cuotas:</label>
          <select id="cuotas" [(ngModel)]="cuotas" name="cuotas">
            <option value="10">10</option>
            <option value="12">12</option>
          </select>
        </div>
        <button id="button" (click)="getData()" type="submit">Generar solicitud</button>
      </form>
</div>

