<div class="solicitudes-container">
  <h2>Solicitudes</h2>
  <form (ngSubmit)="onFilter()" class="filter-form">
    <label for="prestatario">Prestatario</label>
    <input
          type="text"
          id="prestatario"
          [(ngModel)]="filterPrestatario"  
          name="prestatario"
        />

    <label for="fechaDesde">Fecha Solicitud (Desde)</label>
    <input
      type="date"
      id="fechaDesde"
      [(ngModel)]="filterFechaDesde"
      name="fechaDesde"
    />

    <label for="fechaHasta">Hasta</label>
    <input
      type="date"
      id="fechaHasta"
      [(ngModel)]="filterFechaHasta"
      name="fechaHasta"
    />

    <button type="submit" class="btn btn-filter" (click)="onFilter()">FILTRAR</button>
  </form>

  <div class="solicitudes-table">
    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th>Prestatario</th>
          <th>Monto</th>
          <th>Pago Diario</th>
          <th>Dias Duracion</th>
          <th>Estado</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestamo of prestamos; let i = index">
          <td>{{ prestamo.nroPrestamo }}</td>
          <td>{{ user[i].firstName }} {{ user[i].lastName }}</td>
          <td>{{ prestamo.monto}}</td>
          <td>{{ prestamo.pagoDiario }}</td>
          <td>{{ prestamo.diasDuracion }}</td>
          <td [style.color]="prestamo.estado === 'APROBADO' ? 'green' : prestamo.estado === 'RECHAZADO' ? 'red' : 'black'" 
              [style.font-weight]="prestamo.estado === 'APROBADO' || prestamo.estado === 'RECHAZADO' ? 'bold' : 'normal'">
              {{ prestamo.estado }}
          </td>
          <td>{{ prestamo.fechaIniVigencia | date:'dd-MM-yyyy'  }}</td>
          <td>{{ prestamo.fechaFinVigencia | date:'dd-MM-yyyy'  }}</td>
          <td>
            <button class="btn btn-ver" (click)="verSolicitud(prestamo)">
              VER
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-ver-solicitud
    *ngIf="solicitudSeleccionada"
    [prestamo]="solicitudSeleccionada"
    (close)="cerrarModal()"
    (aprobar)="aprobarSolicitud()"
    (rechazar)="rechazarSolicitud()"
  ></app-ver-solicitud>
</div>