<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0);">Hola, {{fullName}}</a>
        <!-- Aquí puedes añadir un botón para colapsar la sidebar si lo necesitas -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Aquí puedes añadir tu menú de navegación si tienes más elementos -->
    </div>
</nav>
<div id="main-container">
    <table>
        <thead>
            <tr>
                <th>Nro. Prestamo</th>
                <th>Monto</th>
                <th>Pago Diario</th>
                <th>Dias Duracion</th>
                <th>Estado</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prestamo of prestamos">
                <td>{{ prestamo.nroPrestamo }}</td>
                <td>{{ prestamo.monto}}</td>
                <td>{{ prestamo.pagoDiario }}</td>
                <td>{{ prestamo.diasDuracion }}</td>
                <td>{{ prestamo.estado }}</td>
                <td>{{ prestamo.fechaIniVigencia }}</td>
                <td>{{ prestamo.fechaFinVigencia }}</td>
            </tr>
        </tbody>
    </table>
    
</div>

