
<div class="form-container">
    <div class="d-flex" id="wrapper">
    
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="javascript:void(0);">Hola, {{fullName}}</a>
                    <!-- Aquí puedes añadir un botón para colapsar la sidebar si lo necesitas -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Aquí puedes añadir tu menú de navegación si tienes más elementos -->
                </div>
            </nav>
               <!-- El resto de tu contenido... -->
                <div class="container mt-4">
                    <h4>Dashboard</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="table-dark">
                                <tr *ngIf="role === 'Admin'">
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>userName</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Acciones</th> <!-- Columna de acciones -->
                                </tr>
                                <tr *ngIf="role === 'Inversionista' || role === 'Jefe Prestamista' || role === 'Prestamista'">
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>userName</th>
                                    <th>Email</th>
                                    <th>Sede</th>
                                    <th>DNI</th>
                                    <th>Direccion</th>
                                    <th>Acciones</th> <!-- Columna de acciones -->
                                </tr>
                            </thead>
                            <div>
                                
                            </div>
                            <tbody *ngIf="role === 'Admin'">                                
                                <tr *ngFor="let user of users1; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.role}}</td>
                                    
                                    <td>
                                        <!--
                                        <button type="button" class="btn btn-primary btn-sm" (click)="editUser(user)">Editar</button>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user)">Eliminar</button>
                                        !-->
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="role === 'Inversionista'">                                
                                <tr *ngFor="let jefeprestamista of jefesprestamista; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{users2[i].firstName}}</td>
                                    <td>{{users2[i].lastName}}</td>
                                    <td>{{users2[i].userName}}</td>
                                    <td>{{users2[i].email}}</td>
                                    <td>{{sedes[i].descripcionSede}}</td>
                                    <td>{{jefeprestamista.dni}}</td>
                                    <td>{{jefeprestamista.direccion}}</td>

                                    <td>
                                        <!--
                                        <button type="button" class="btn btn-primary btn-sm" >Editar</button>
                                        <button type="button" class="btn btn-danger btn-sm" >Eliminar</button>
                                        !-->
                                    </td>
                                    
                                </tr>
                            </tbody>
                            <tbody *ngIf="role === 'Jefe Prestamista' ">                                
                                <tr *ngFor="let prestamista of prestamistas; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{users2[i].firstName}}</td>
                                    <td>{{users2[i].lastName}}</td>
                                    <td>{{users2[i].userName}}</td>
                                    <td>{{users2[i].email}}</td>
                                    <td>{{sedes[i].descripcionSede}}</td>
                                    <td>{{prestamista.dni}}</td>
                                    <td>{{prestamista.direccion}}</td>
                                    
                                    <td>
                                        <!--
                                        <button type="button" class="btn btn-primary btn-sm">Editar</button>
                                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                        !-->
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="role === 'Prestamista' ">                                
                                <tr *ngFor="let prestatario of prestatarios; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{users2[i].firstName}}</td>
                                    <td>{{users2[i].lastName}}</td>
                                    <td>{{users2[i].userName}}</td>
                                    <td>{{users2[i].email}}</td>
                                    <td>{{sedes[i].descripcionSede}}</td>
                                    <td>{{prestatario.dni}}</td>
                                    <td>{{prestatario.direccion}}</td>
                                    
                                    <td>
                                        <!--
                                        <button type="button" class="btn btn-primary btn-sm">Editar</button>
                                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                        !-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
           
    </div>
    
</div>
