<div id="left-container" class="col-lg-3">
    <div id="user-profile">
        <img id="profile" src="assets/img/profile.png" alt="Profile">
        <h5 id="name">Hola, {{fullName}} - {{role}} - {{primarysid}} </h5>
    </div>
    <button class="button" [routerLink]="['/dashboard']">Principal</button> 
    <button class="button" [routerLink]="['/inversionista/dashboard-rigth']">Dashboard</button> 
    <button class="button" [routerLink]="['/inversionista/sign-up-form']">Nuevo Jefe Prestamista</button>
    <button type="submit" class="button" (click)="Logout()">Salir</button>
    <div *ngIf="mostrarDiv">oculto {{primarysid}} </div>
</div>
<div id="right-container" class="col-lg-9">
    <router-outlet></router-outlet>  
</div>
