#main-container{
    margin: 50px;
}
.field-container{
 margin: 20px;
}
#label1{
    margin-right: 100px;
}
#label2{
    margin-right: 100px;
}
#label3{
    margin-right: 135px;
}
#label4{
    margin-right: 20px;
}
#label5{
    margin-right: 90px;
}
#label6{
    margin-right: 118px;
}
#label7{
    margin-right: 120px;
}
#button{
    margin: 50px;
    width: 250px;
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 20px; 
}