<div class="main-container">
    <div id="box">
        <div id="header-container">
            <img id="profile" src="assets/img/profile.png" alt="Profile">
            <p id="title">Registrarse</p>
            <div class="txt-container">
                <input type="text" class="txtbox" placeholder="Nombre de usuario">
            </div>
            <div class="txt-container">
                <input type="text" class="txtbox" placeholder="Contraseña">
            </div>
            <div class="txt-container">
                <input type="text" class="txtbox" placeholder="Nombres">
            </div>
            <div class="txt-container">
                <input type="text" class="txtbox" placeholder="Apellidos">
            </div>
            <div class="txt-container">
                <input type="text" class="txtbox" placeholder="Dirección">
            </div>
            <div class="txt-container">
                <input type="text" class="txtbox" placeholder="Teléfono">
            </div>             
        </div>   
        <button class="button">REGISTRARSE</button>
    </div>
</div>
